* {
  border: 1px solid white;
}

.App {
  background-color: black;
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  border: 1px solid white;
  width: 100%;
  padding: 10px 0px 10px 10px;
}

.header-title {
  /*border: 1px solid white;*/
  color: white;
  float: left;
  margin-left: 20px;
}

.song-uploader {
  float: left;
}

.play-button {
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
